Lab1_Kotlin/*.iml
Lab1_Kotlin/.gradle
Lab1_Kotlin/local.properties
Lab1_Kotlin/.idea/caches
Lab1_Kotlin/.idea/libraries
Lab1_Kotlin/.idea/modules.xml
Lab1_Kotlin/.idea/workspace.xml
Lab1_Kotlin/.idea/navEditor.xml
Lab1_Kotlin/.idea/assetWizardSettings.xml
Lab1_Kotlin/.DS_Store
Lab1_Kotlin/build
Lab1_Kotlin/captures
Lab1_Kotlin/.externalNativeBuild
Lab1_Kotlin/.cxx

Lab2_Kotlin/*.iml
Lab2_Kotlin/.gradle
Lab2_Kotlin/local.properties
Lab2_Kotlin/.idea/caches
Lab2_Kotlin/.idea/libraries
Lab2_Kotlin/.idea/modules.xml
Lab2_Kotlin/.idea/workspace.xml
Lab2_Kotlin/.idea/navEditor.xml
Lab2_Kotlin/.idea/assetWizardSettings.xml
Lab2_Kotlin/.DS_Store
Lab2_Kotlin/build
Lab2_Kotlin/captures
Lab2_Kotlin/.externalNativeBuild
Lab2_Kotlin/.cxx